body {
  background:#000;
  color:#00ff88;
  font-family: monospace;
}

.hidden { display:none; }

.center-box {
  margin:100px auto;
  width:300px;
  text-align:center;
}

input, textarea {
  width:100%;
  background:#111;
  color:#0f0;
  border:1px solid #0f0;
  padding:8px;
}

button {
  background:#0f0;
  color:#000;
  padding:8px;
  margin-top:5px;
  border:none;
  cursor:pointer;
}

.post-box { margin:20px 0; }

.post {
  margin:15px;
  padding:10px;
  border-radius:5px;
  color:#fff;
}

.green { background:#003300; }
.blue { background:#001f3f; }
.purple { background:#2e003e; }
.red { background:#3f0000; }
.black { background:#111; }

.colors .c {
  width:20px;
  height:20px;
  display:inline-block;
  border:1px solid #0f0;
  cursor:pointer;
}

.comment {
  background:#111;
  margin-top:5px;
  padding:5px;
}
